<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2 class="text-center">Accordion</h2>
      <app-accordion>
        <app-accordion-item id="accordion1" label="Accordion 1">
          Accordion Content 1
          Accordion Content 1
          Accordion Content 1
          Accordion Content 1
          Accordion Content 1
          Accordion Content 1
          Accordion Content 1
        </app-accordion-item>
        <app-accordion-item id="accordion2" label="Accordion 2">
          Accordion Content 2
          Accordion Content 2
          Accordion Content 2
          Accordion Content 2
          Accordion Content 2
          Accordion Content 2
        </app-accordion-item>
      </app-accordion>
    </div>
  </div>
</div>