<h2>{{title}}</h2>
<form (ngSubmit)="addTodo()">
  <input name="task" type="text" [(ngModel)]="task" />
  <button type="submit">Add</button>
</form>
<div class="filters">
  <button (click)="filterTodosBy(filterType.All)" [ngClass]="{'selected': filteredBy === filterType.All}">All</button>
  <button (click)="filterTodosBy(filterType.Active)"
    [ngClass]="{'selected': filteredBy === filterType.Active}">Active</button>
  <button (click)="filterTodosBy(filterType.Completed)"
    [ngClass]="{'selected': filteredBy === filterType.Completed}">Completed</button>
</div>
<ul>
  <li *ngFor="let todo of filteredList">
    <app-todo [todo]="todo" (toggle)="toggleTodo($event)" (delete)="deleteTodo($event)"></app-todo>
  </li>
</ul>