<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8">
      <h2>Registrar una cuenta</h2>
      <form [formGroup]="signUpForm" (ngSubmit)="createAccount()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input id="email" name="email" type="email" class="form-control" formControlName="email"
            [ngClass]="{ 'is-invalid': showError('email')}" />
          <div *ngIf="showError('email')" class="invalid-feedback">
            <p *ngIf="hasError('email', 'required')">El Correo Electrónico es requerida</p>
            <p *ngIf="hasError('email', 'email')">El Correo Electrónico es invalido</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de Usuario</label>
          <div class="input-group" [ngClass]="{ 'is-invalid': showError('username')}">
            <input id="username" name="username" type="text" class="form-control" formControlName="username"
              [ngClass]="{ 'is-invalid': showError('username')}" />
            <span *ngIf="signUpForm.controls['username'].pending" class="input-group-text">
              <span class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Verificando disponibilidad de Nombre de Usuario...</span>
              </span>
            </span>
          </div>
          <div *ngIf="showError('username')" class="invalid-feedback">
            <p *ngIf="hasError('username', 'required')">El Nombre de Usuario es requerido</p>
            <p *ngIf="hasError('username', 'minlength')">El Nombre de Usuario debe tener mínimo 4 caracteres</p>
            <p *ngIf="hasError('username', 'maxlength')">El Nombre de Usuario debe tener máximo 8 caracteres</p>
            <p *ngIf="hasError('username', 'forbiddenName')">El Nombre de Usuario no esta permitido</p>
            <p *ngIf="hasError('username', 'uniqueUsername')">El Nombre de Usuario no esta disponible</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input id="password" name="password" type="password" class="form-control" formControlName="password"
            [ngClass]="{ 'is-invalid': showError('password')}" />
          <div *ngIf="showError('password')" class="invalid-feedback">
            <p *ngIf="hasError('password', 'required')">La contraseña es requerida</p>
            <p *ngIf="hasError('password', 'minlength')">La contraseña debe tener mínimo 6 caracteres</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
          <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
            formControlName="confirmPassword" [ngClass]="{ 'is-invalid': showError('confirmPassword')}" />
          <div *ngIf="showError('confirmPassword')" class="invalid-feedback">
            <p *ngIf="hasError('confirmPassword', 'required')">Confirmar la contraseña es requerido</p>
            <p *ngIf="hasError('confirmPassword', 'match')">Las contraseñas no coinciden</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>